
[Desktop Entry]
Encoding=UTF-8
Name=Link to Home | KA Lite
Type=Link
URL=http://127.0.0.1:8008/
Icon=/usr/local/tunapanda/data/ka-lite/kalite/static/images/video_download.png
Name[en_US]=KA - Lite Video Classes
